@import "./colori";
@import './mixinGenerici';
@mixin button-style($background-color, $text-color) {
  background-color: $background-color;
  color: $text-color;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.button-primary {
  @include button-style($blue, $text);
}

.button-secondary {
  @include button-style($orange, $text);
}
.button-terziary {
  @include button-style($green, $text);
}
.transform:hover {
  @include floating(10px, 10px, 1px);
  z-index: 1;
  transform: scale(1.2);
}
