li {
  font-weight: 700;
  font-size: 1.2em;
}
.headImg {
  height: 2em;
  border-radius: 50%;
  background-color: rgb(187, 184, 184);
}

#hero {
    background-color: #7550FE;
    >div {
      padding: 2em 3em 0 3em;
    }
};
.bt1 {
  position: absolute;
  right: 1em;
  top: 0.4em;
  padding: 0.2em;
}
.icons {
  position: absolute;
  top: 0.8em;
  right: 4.5em;
}
.button1 {
  background-color: rgb(0, 179, 119);
  color: white;
  padding: 1em;
}
.button2 {
  background-color: white;
  padding: 1em;
}
.button1:hover {
  box-shadow: 2px 2px 10px 2px black;
  background-color: rgb(0, 179, 119);
  color: white;
}
.button2:hover {
  box-shadow: 2px 2px 10px 2px black;
  background-color: white;
}