.headImg {
  height: 2em;
}

#hero {
    background-color: #7550FE;
    >div {
      padding: 2em 3em 0 3em;
    }
};
.bt1 {
  position: absolute;
  right: 1em;
  top: 0.4em;
  padding: 0.2em;
}
.icons {
  position: absolute;
  top: 0.8em;
  right: 4em;
}
.button1 {
  background-color: rgb(0, 179, 119);
  color: white;
  padding: 1em;
}
.button2 {
  background-color: white;
  padding: 1em;
}